<a href="https://colab.research.google.com/github/Paospina0718/Computacion2022/blob/main/Taller_2_computaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Taller #2- Computación y estadística

PAOLA ANDREA OSPINA SANCHEZ

In [127]:
import numpy as np
import math
from math import log
import random
import matplotlib.pyplot as plt

$$ y_1 = log({x}) $$

In [70]:
x=float(input("Introduzca el valor de x "))
if x>0:
  y_1=math.log10(x)
  print(f'y_1 es:{math.log10(x)}')
else: 
  print("No se puede computar con valores menores a 0")

Introduzca el valor de x 2
y_1 es:0.3010299956639812

$$ y_2\ = log(\sqrt{x}) $$

In [72]:
x=float(input("Introduzca el valor de x "))
if x>0:
  y_2=math.log10(x**(1/2))
  print(f'y_2 es:{math.log10(x**(1/2))}')
else: 
  print("No se puede computar con valores menores a 0")

Introduzca el valor de x 2
y_2 es:0.1505149978319906

$$ y_3\ = log(\sqrt{x^2-1}) $$

In [80]:
x=float(input("Introduzca el valor de x "))
if x>0 or x<0:
  y_3=math.log10(((x**2)-1)**(1/2))
  print(f'y_3 es:{math.log10(((x**2)-1)**(1/2))}')
else: 
  print("No se puede computar con valores iguales a 0")

Introduzca el valor de x 2
y_3 es:0.2385606273598312

$$y_4=\frac{log(\sqrt{x-1})}{x^2+1} $$

In [79]:
x=float(input("Introduzca el valor de x "))
y_4=math.log10((x-1)**(1/2))/(x**2+1)
print(y_4)

Introduzca el valor de x 5.2
0.011113575078421907

$$y_5 = \frac{x-1}{log(x)}$$

In [91]:
x=float(input("Introduzca el valor de x "))
if x>0:
  y_5=(x-1)/math.log10(x)
  print(f'y_5 es:{(x-1)/math.log10(x)}')
else: 
  print("No se puede computar con valores iguales o menores a 0")

Introduzca el valor de x 2
y_5 es:3.321928094887362

$$y_6=\frac{1}{x}+\sqrt{x-1}$$

In [94]:
x=float(input("Introduzca el valor de x "))
if x>0:
  y_6=(1/x)+((x-1)**(1/2))
  print(f'y_6 es:{(1/x)+((x-1)**(1/2))}')
else: 
  print("No se puede computar con valores iguales o menores a 0")

Introduzca el valor de x 2
y_6 es:1.5

$$y_7 = \frac{1}{x}+\sqrt{x-1}-\frac{1}{log(\frac{1}{x+1})}$$

In [95]:
x=float(input("Introduzca el valor de x "))
if x>0:
  y_7=(1/x)+(x-1)-(1/(math.log10(1/(x+1))))
  print(f'y_7 es:{(1/x)+(x-1)-(1/(math.log10(1/(x+1))))}')
else: 
  print("No se puede computar con valores iguales o menores a 0")

Introduzca el valor de x 2
y_7 es:3.5959032742893844

$$y_8=\frac{2}{x^{2}+1}$$

In [98]:
x=float(input("Introduzca el valor de x "))
y_8=(2)/(x**2+1)
print(y_8)

Introduzca el valor de x 2
0.4

$$y_9 = \frac{1}{n}+\sum_{i=1}^{n} {x_i}$$

In [102]:
x= float(input("Introduzca el valor de x "))
n=int(input("Introduzca el valor de n "))

if n >= 1:
  summatory = []
  for i in range(n):
    summatory.append(x)
    y_9=(1/n)*(sum(summatory))
    print( f'y_9 es: {y_9}')
  else: 
    print("No se puede computar con un n menor a 1")

Introduzca el valor de x 1
Introduzca el valor de n 2
y_9 es: 0.5
y_9 es: 1.0
No se puede computar con un n menor a 1

$$y_{10}=\frac{1}{n-1}\sum_{i=1}^{n}(x_{i}-\overline{x})^{2}$$

In [141]:
x= float(input("Introduzca el valor de x "))
n=int(input("Introduzca el valor de n "))
if n >= 1:
  summatory = []
  for i in range(n):
    summatory.append((x-mean)**2)
    y_10=(1/(n-1))*(sum(summatory))
    print( f'y_10 es: {y_10}')
  else: 
    print("No se puede computar con un n menor a 1")

Introduzca el valor de x 2
Introduzca el valor de n 3
y_10 es: 2.0
y_10 es: 4.0
y_10 es: 6.0
No se puede computar con un n menor a 1

$$y_{11}= \frac{\sqrt{y_{10}}}{{{y_{9}}}}$$

In [143]:
y_11=(y_10**1/2)/(y_9)
print(f'y_11 es:{(y_10**1/2)/(y_9)}')

y_11 es:1.5

Construya una función que returne la varianza de un conjunto de datos (n ≥ 2) cuando se va incorporando dato a dato. Use como primer par de datos los que se generan de la distribución normal con μ = 3 y s = 0,3.Use la misma semilla y los mismos parámetros de la distribución para incorporar cada dato. Haga el proceso 50 veces.

In [128]:
def variance(n):
  random.seed(123)
  if n < 2: 
    return f'El conjunto de datos debe tener 2 o más datos'
  else:
      var=np.random.normal(3,0.3,2)
      list_var=[var[0],var[1]]
      list_g=np.random.normal(3,0.3,n)
      for i in range (n):
        list_var.append(list_g[i])
        print(f'La varianza es {round(np.var(list_var),4)},cuando n es {i+1}')

In [152]:
variance(50)

La varianza es 0.0596,cuando n es 1
La varianza es 0.0448,cuando n es 2
La varianza es 0.0667,cuando n es 3
La varianza es 0.0947,cuando n es 4
La varianza es 0.0955,cuando n es 5
La varianza es 0.0857,cuando n es 6
La varianza es 0.088,cuando n es 7
La varianza es 0.0792,cuando n es 8
La varianza es 0.0808,cuando n es 9
La varianza es 0.0783,cuando n es 10
La varianza es 0.0804,cuando n es 11
La varianza es 0.0838,cuando n es 12
La varianza es 0.0799,cuando n es 13
La varianza es 0.0758,cuando n es 14
La varianza es 0.078,cuando n es 15
La varianza es 0.0795,cuando n es 16
La varianza es 0.0798,cuando n es 17
La varianza es 0.0807,cuando n es 18
La varianza es 0.0772,cuando n es 19
La varianza es 0.0739,cuando n es 20
La varianza es 0.0714,cuando n es 21
La varianza es 0.0805,cuando n es 22
La varianza es 0.0778,cuando n es 23
La varianza es 0.0764,cuando n es 24
La varianza es 0.0764,cuando n es 25
La varianza es 0.0737,cuando n es 26
La varianza es 0.0946,cuando n es 27
La varianza es 0.1034,cuando n es 28
La varianza es 0.1004,cuando n es 29
La varianza es 0.1051,cuando n es 30
La varianza es 0.1029,cuando n es 31
La varianza es 0.1007,cuando n es 32
La varianza es 0.0997,cuando n es 33
La varianza es 0.0979,cuando n es 34
La varianza es 0.0954,cuando n es 35
La varianza es 0.0936,cuando n es 36
La varianza es 0.0945,cuando n es 37
La varianza es 0.0948,cuando n es 38
La varianza es 0.0925,cuando n es 39
La varianza es 0.091,cuando n es 40
La varianza es 0.0889,cuando n es 41
La varianza es 0.0878,cuando n es 42
La varianza es 0.0863,cuando n es 43
La varianza es 0.0866,cuando n es 44
La varianza es 0.0872,cuando n es 45
La varianza es 0.0927,cuando n es 46
La varianza es 0.0914,cuando n es 47
La varianza es 0.0898,cuando n es 48
La varianza es 0.0881,cuando n es 49
La varianza es 0.0864,cuando n es 50